body {
    /*background-image: url("https://w-dog.net/wallpapers/15/16/466716352306843/textures-turf-grass-green-green-wallpaper.jpg");*/
    background-image: url("../images/turf.jpg");
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-color: #2e6da4;
}

    /*Scraping Complete Modal Content*/
    #new-articles-number {
        color: white;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
        text-align: center;
        font-size: 20px;
    }

    /*Comments Modal Content*/
    .modal-content p {
        color: white;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .modal-content .well {
        color: white;
        background: black;
        border-color: #2e6da4;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 0.5px;
    }

    .add-comment {
        background: none;
    }

    .add-comment:hover {
        background: none;
    }

/* The Modal Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Comment Delete Button */
.btn-xs {
    float: right;
}

/* Title */
#title {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 1px; 
}

#title span {
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

/* Navbar */
.navbar {
    background-color: black;
    border-color: black;
    margin-bottom: 0px;
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Fjalla One', sans-serif;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-size: medium;
}

#scrape-btn {
    background: none;
}

/* Jumbotron */
.jumbotron {
    margin: 0;
    padding: 0;
    background-image: url("../images/soccer_players.jpg");
    /*background-image: url("http://coverlayout.com/facebook/covers/soccer_players/soccer_players.jpg"); */
    /*padding: none;*/
}

@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding: 0;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    padding: 0;
}

.jumbotron div {
    background: rgba(0, 0, 0, 0.38);
    padding: 35px 0px 35px 0px;
}


.jumbotron h1 {
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
    /*font-weight: bold;*/
    /*text-shadow: 3px 3px black;*/
}

.jumbotron p {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

/*No Articles Panel*/
#no-articles {
    background: black;
    color: white;
    border-color: #2e6da4;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

/*Articles Panel*/
.outer {
    background: black;
    border-color: black;
}

.articles-panel {
    background-color: black;
    border-color: #2e6da4;
}

.articles-panel .panel-heading {
    background-color: black;
    border-color: #2e6da4;
}

hr {
    border-top: 0px solid black;
}
.articles-panel .panel-heading .panel-title {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .5px;
}

a { 
    color: white;
}

/* Save Article Button */
.save-article {
    float: right;
    background-color: black;
}

.save-article:hover {
    float: right;
    background-color: black;
}

/*View Comments Button*/
.view-comments {
    background: none;
}

.view-comments:hover {
    background: none;
}

.delete-article {
    background: none;
}

.delete-article:hover {
    background: none;
}
